html{
    margin-left: 10px;
    margin-right:10px;
}
*{
    box-sizing: border-box;
}
.strong{
    font-weight:bold;
    margin-left:10px;
}
.strong1{
    font-weight:bold;
}
section{
    float: left;
    width: 100%;
}
h1{
    color: white;
    background-color:#808080;
    font-size: 18px;
    padding: 15px;
    float: left;
    width: 100%;
    margin:0
}
h2{
    width: 15%;
    height: 100px;
    float: left;
    font-size: 18px;
    text-align: center;
    background-color: #d6d6d6;
    margin:0;
    border-top:3px solid #eaeaea;
    padding-top:35px;
}
.you{
    border-top:3px solid #eaeaea;
    width: 85%;
    height: 100px;
    float: left;
    display: inline;
    border-right:3px solid #eaeaea;
}
.last{
    border-bottom:3px solid #eaeaea;
}
h3{
    font-size: 16px;
    margin:0;
}
.q  h3, .q p{
    display: inline-block;
    margin:0;
}
p{
    margin:0ï¼›
}
h3,p{
    padding-left: 20px;
    padding-top:17px;
}
.can{
    padding-top:39px;
    padding-left:20px;
}
