*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

html,body{
    min-width: 1580px;
    height: 100%;
    overflow: hidden;
}

html{
    font: 14px Arial, Helvetica, sans-serif;
}

body{
    min-height: 1020px;
}

a{
    color: #999;
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,p{
    font-weight: lighter;
}

p{
    color: #797d86;
}
h2{
    color: #5b6779;
}

h4{
    color: #585d68
}

h5{
    color: #cecece;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.wrap{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background: #1d2531;
    height: 100%;
}

header li{
    padding: 10px 0;
}

header a{
    display: block;
    margin: 0 auto;
    text-align: center;
}


.settings a{
    display: inline-block;
    width: 20px;
}

.settings{
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.contain{
    position: absolute;
    top: 0;
    left: 100px;
    bottom: 0;
    right: 0;
}

.contain nav{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #222c3c;
    padding: 24px 30px 70px 30px;
    overflow: hidden;
}

.contain-router{
    overflow: auto;
    height: 100%;
}

.contain-router::-webkit-scrollbar{
    display: none;
}

nav h2{
    font-weight: normal;
    font-size: 12px;
    color: #5b6779;
    position: relative;
}

nav h2 i{
    position: absolute;
    right: 0;
    top: 0;
}

/** 关于父级元素的继承没看懂。。。 **/

.contain-router li {
    overflow: hidden;
    position: relative;
}

.contain-router li li:not(:only-child):not(:first-of-type) {
    margin-top: 10px;
}

.contain-router ul{
    padding: 24px 0;
}

.contain-router>li:not(:last-of-type){
    margin-bottom: 24px;
    border-bottom: 1px solid #2a3547;
}

nav a {
    color: #b7c0cd;
    line-height: 24px;
}

.info-tips1 img{
    margin-right: 8px; 
    vertical-align:middle;
}

.info-alert img{
    position: absolute;
    right: 0;
}

.storage-space {
    position: absolute;
    bottom: 30px;
    color: #fff;
}

.contain section{
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
}

.user-header{
    height: 80px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e9ec;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 204px;
}

.avatar{
    position: relative;
    width: 50px;
    height: 50px;
}

.user-info{
    line-height: 25px;
}

.user-info1 h4{
    color: #2399f1;
}

aside{
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 400px;
    overflow: auto;
    border-right: 1px solid #e6e9ec;
}
.main-contain::-webkit-scrollbar,
aside::-webkit-scrollbar {
    display: none;
}
.search-wrap{
    height: 70px;
    padding: 15px 30px;
    position: relative;
    border-bottom: 1px solid #e6e9ec;
}
.search-wrap input {
    width: 340px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px #e5e8ee;
    padding: 0;
    padding-left: 16px;
    padding-right: 28px;
}
aside li {
    padding: 16px 30px 24px 30px;
    border-bottom: 1px solid #e5e8ee;
}
aside li.active {
    border-left: 4px solid #2399f1;
}
.friend-info {
    height: 62px;
    overflow: hidden;
}
.friend-info .avatar{
    width: 46px;
    height: 46px;
}

.friend-info .user-info {
    margin-left: 24px;
}
.friend-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    position: absolute;
    top: 80px;
    left: 400px;
    right: 0;
    bottom: 0;
}

.main-header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e9ec;
}

.main-header button {
    all: unset;
    width: 36px;
    height: 32px;
    line-height: 32px;
    float: left;
    flex: 1;
    border: none;
    background-image: linear-gradient(0deg, 
		#f1f3f7 0%, 
        #ffffff 100%);
    text-align: center;
}

.main-header button:not(:last-of-type) {
    border-right: 1px solid #ced0da;
}

.main-header button:hover {
    background-image: none;
}

.main-tabbar {
    min-width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-tabbar em {
    display: block;
    width: 1px;
	height: 30px;
	background-color: rgba(206, 208, 218, 0.3);
}
.main-btngroup,
.main-page {
    border: 1px solid #ced0da;
    border-radius: 4px;
}

.talk-input {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 30px;
}

.talk-input input {
    width: 100%;
    background-color: #ffffff;
	border-radius: 4px;
    border: solid 1px #dfe3e9;
    height: 54px;
    padding-left: 72px;
    outline: none;    
}

.talk-input button {
    all: unset;
    position: absolute;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-image: linear-gradient(0deg, #f1f3f7 0%, #ffffff 100%);
    border-radius: 4px 0px 0px 4px;
    border: solid 1px #ced0da;
}

.main-contain {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 74px;
    padding-top: 24px;
    overflow: auto;
}

.message {
    padding: 0 68px 0 30px;
}
/**不懂 ~  **/
.message ~ .message {
    margin-top: 22px;
}

.message .avatar {
    width: 46px;
    height: 46px;
    float: left;
}

.message-contain {
    margin-left: 68px;
}

.message-contain h4 {
    padding-top: 6px;
    margin-bottom: 10px;
    color: #585d68;
}

.message-contain time {
    margin-left: 10px;
    font-size: 12px;
}

.message-contain p {
    font-size: 13px;
    line-height: 20px;
}

.time-split, .message-split {
    margin: 18px 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-split span, .message-split span {
    font-size: 12px;
    color: #7f8fa4;
}

.time-split em, .message-split em {
    width: 250px;
    height: 1px;
    background-color: #d9dde3;
}