*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Adele, sans-serif;
    font-weight: lighter ;
}
body{
    height: 100%;
    min-width: 1280px;
}
button{
    cursor: pointer;
    border: none;
}
input{
    background: none;
    outline: none;
    border:0px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: grey;
}
.container{
    width: 970px;
    margin:0 auto;
}
.container h3{
    font-size: 2.5em;
}
/**background-size:100% 100% 宽度自适应屏幕缩放，但是不能等比高缩放**/
/**background: url(...) no-repeat center center + background-size: cover 宽度自适应屏幕裁剪**/
header{
    padding: 200px 0 200px 0;
    color: white;
    background: url(images/Background1.png) no-repeat center center;   
    width: 100%;
    background-size: cover;  
}
header h1,header p{
    text-align: center;
}
header h1{
    font-size: 4em;
}
header p{
    padding: 90px 100px 65px 100px;
    font-size: 1.2em;
}
#header_container{
    text-align: center;
    border:1px solid #43413d;
    padding: 60px 100px 45px 100px;
}
#header_container h2{
    font-size: 1.2em; 
    margin-bottom: 20px;
    text-transform: uppercase
}
#header_container h3{
    font-size: 1em; 
    margin-bottom: 40px; 
    text-transform: uppercase;
    opacity: 0.5;
    
}
input#head_email, input#head_pwd{
    display: inline-block;
    background-color:none;
    width: 290px;
    height: 50px;
    border:solid #43413d 1px ;
    color: white;
    padding-left: 20px;
    margin-right: 21px;
}
#header_container button{
    width: 130px;
    height: 50px;
    background-color: white;
    color: black;
}
#header_container button:hover{
    background: rgb(226, 226, 226);
}
#part1{
    padding-top: 90px;
    width: 100%;
}
#part1 h2,h3{
    text-align: center;
}
#part1 h2{
    font-size: 1.2em; 
    margin-bottom: 45px; 
    font-weight: normal;
}
#part1 h3{
    padding: 0 160px;
    margin-bottom: 80px; 
}
#part1 h4{
    font-weight: normal;
    margin-bottom: 25px;
}
#features_line1,#features_line2{
    display:flex;
    margin-bottom: 70px; 
}
.features{
    width:400px;
}
#features1,#features3{
    margin-right:180px; 
}
.features img{
    float: left;
}
.features_con{
    padding-left: 80px;
}
.features_con p{
    text-align:left;
}

#part2{
    background: url(images/Background2.png) no-repeat center center;
    background-size:cover;  
    height: 800px;
    color: white;
    padding-top: 185px;   
    position: relative;   
    overflow: hidden;   
}
#part2_container{
    width: 970px;
    margin: 0 auto;
}
#part2_container h3,#part2_container p{
    width: 370px;
    margin:0 100px 50px 0;
    text-align: left;
}
#part2_container h3{
    font-size: 2.5em;
}
#part2_container button,button#part2_sub2{
    color: black;
    background:white;
    width: 235px;
    height: 60px; 
    margin-right: 25px;
}
button#part2_sub2{
    color: white;
    background: none;
    border: solid #43413d 0.5px;
}
button#part2_sub2:hover{
    background: rgb(182, 182, 182);
}
#part2_img{
    position: absolute;
    top: 110px;
    left: 55%;
}
#part3{
    padding: 100px 0 130px 0;
    border-bottom: solid 1px #f2f2f2; 
}
#part3_container{
    margin-top: 80px;  
    display: flex;
}
.part3_con{
    text-align: center;
    flex: 1;
    width: 270px;
    margin-right: 80px;
}
.part3_con p{
    text-align: center;
}
/**想设置 margin 为无 应该写数值 0 而不是 none **/
.part3_con:last-of-type{
    margin-right: 0;
}
.part3_con p{
    margin-top:40px; 
}
#part4{
    padding: 110px 0 100px 0;
    border-bottom: solid 1px #f2f2f2; 
}
#part4 h4{
    font-weight: normal;
    padding-bottom: 35px;
}
#part4 p{
    text-align: left;
}
.part4_con{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#part4_con1{
    margin: 80px 0 0 100px;
}
#part4_con2{
    margin: 80px 620px 0 0;
}
.part4_con:first-of-type{
    margin-bottom: 80px; 
}
#images_right{
    position: absolute;
    right: 0;
}
#part5{
    padding: 100px 0;
    border-bottom: solid 1px #f2f2f2; 
}
#part5 h3,p{
    text-align: center;
}
#part5 p{
    margin:40px auto 65px;
    width: 700px;
}
#part5 .part5_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 970px;
    height: 720px;
    margin: 0 auto;
}
.part5_cell{
    flex: 0 0 470px;
    height: 350px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.part5_cell > img{
    height: 100%;
}
.part5_hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.part5_cell:hover .part5_hover{
    opacity: .7;
    background-color: rgba(0, 0, 0, .7);
    transition: all .5s;
    -moz-transition: all .5s;	/* Firefox 4 */
    -webkit-transition: all .5s;	/* Safari 和 Chrome */
    -o-transition: all .5s;	/* Opera */
}
.part5_hover h4 {
    margin: 110px 0 20px 0;
    color: #fff;
}
.part5_hover h5 {
    color: #8a8a8a;
    width: 470px;
    text-align: center;
}
.part5_hover ul {
    margin-top: 40px;
}
.part5_hover li {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    width: 55px;
    height: 55px;
    line-height: 60px;
    margin: 0 20px;
}

.part5_hover img {
    width: 56px;
    height: 56px;
}

.part5_hover a {
    display: block;
    width: 55px;
    height: 55px;
}

#part6{
    padding: 100px 0;
}

#part6 form{
    float: left;
    width: 470px;
    border: solid 1px #43413d; 
    text-align: center;
    padding:60px 0;
    box-sizing: unset;
    zoom:1;
}
#part6_con::after{
    content: "";
    display: block;
    clear: both;
}
#part6 h3{
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}
#con_submit1,#con_submit2,#con_submit3{
    border: solid 1px #43413d;
    width: 370px;
    height: 50px;
    margin: 0 auto 30px;
    padding-left: 20px;
}
#con_submit3{
    padding-top:20px; 
    height: 140px;
}
#con_submit4{
    width: 370px;
    height: 50px;
    background: black;
    color: white;
    margin: 0 auto;
}
#con_submit4:hover{
    background: rgb(0, 0, 0,0.5);
    cursor:pointer;
}
#part6_contacts{
    margin-left: 600px;
    padding: 90px 0 ;
}
#part6_contacts h3,p{
    text-align: left;
}
#part6_contacts h2{
    font-size: 2.5em;
    margin-bottom: 40px;
}
#part6_imgcontacts{
    margin-top: 70px; 
}
#part6_imgcontacts p{
    font-weight: normal;
    line-height: 20px;
}
#part6_imgcontacts a{
    color: black;
}
#part6_imgcontacts a{
    display: block;
}
#contacts_img{
    display: flex;
}
#contacts_img img{
    width: 21px;
    height: 27px;
}
#part6_imgcontacts img{
    margin-right: 15px;
}
#part6_imgcontacts p{
    margin-bottom: 30px;
}
footer{
    background: #141414;
    padding:90px 0;
}
.footer_container{
    width: 1280px;
    margin:0 auto;
}
.footer_container::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
footer article{
    float: left;
    width: 320px;
}
footer h2{
    color: white;
    margin-bottom: 35px;
}
footer p{
    color: gray;
}
footer a{
    color: gray
}
footer a:hover{
    text-decoration: underline;
}
footer li,p{
    margin-bottom: 35px;
}
#footer_enj a{
    margin-right: 20px;
}








