*{  
    padding: 0;
    margin: 0;   
}
header{
    height: 60px;
    width: 100%;
    background: #333333;
}
.header_container,
.banner_container,
.nav_container,
.content_container{
    width: 960px; 
    height: 100%;
    margin: 0 auto;
}
.header_container h1{
    line-height: 60px;
    display: inline;
    font-weight: normal;
    font-size: 1.4em;
    color: white;
}
.header_container ul{
    padding-top:5px;
    float: right;
    list-style: none;
}
.header_container li{
    display: inline-block;
}
.header_container a{
    color: #fff;
}
.header_container a:hover{
    text-decoration: none;
    color: white;
}
.banner{
    background: #66bb33;
    height: 200px;
    width: 100%;
}
.banner_container{
    position: relative;
}
.banner_container ol{
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 8px;
}
.banner li{
    display: inline-block;
    text-align: center;
    background: rgba(178, 221, 153);
}
.banner li a{
    display: block;
    text-align: center;
    width: 25px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(83, 126, 58);
    color: rgba(83, 126, 58);
    text-decoration: none;
}
.banner a:hover{
    padding-top:12px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    background: rgb(224, 241, 214)
}
.nav{
    width: 100%;
    border-bottom: 1px solid #ddd; 
}
.nav_container ul {
    position: relative;
    top: 1px;
    list-style: none;
    margin-top: 14px;
    border: none;
}
/**设置 margin-right 的负值是为了消除 display: inline-block 的空隙**/
.nav_container li{
    display: inline-block;
    list-style: none;
    margin-right: -5.5px;
}
.nav_container a{
    line-height: 45px;
    text-align: center;
    padding: 0 20px;
    background:  #eeeeee;
    border:solid #ddd 1px;
    border-radius: 15px 15px 0 0;
    display: block;
    color: black;
    text-decoration: none;
}
.nav_container a:focus, 
.nav_container a:hover{
    border-bottom-color:white;
    background: white;
}
.nav_container li .active{
    border-bottom-color:white;
    background: white;
}

.cell{
    display:flex;
    margin: 10px 0;
}
.cell div{
    line-height: 200px;
    text-align: center;
    flex:1;
    margin-right: 10px;
    border: solid 1px #ddd;
}
.cell div:last-child{
    margin-right: 0;
}
.content{
    margin: 10px 0;
}

footer{
    padding-top: 20px;
    background: #5C5C5C;
    color: white;
    height: 100px;
    text-align: center;
}
footer p{
    padding-top: 
}


